<div class="background">
	<app-toolbar title="Settings"></app-toolbar>
	<div class="window">
		<div class="form">
			<div class="avatar">
			</div>
			<div class="caption">Nickname</div>
			<div class="edit">
				<input type="text" />
			</div>

			<div class="caption">Language</div>
			<div class="edit">
				<select>
					<option>English</option>
					<option>Czech</option>
				</select>
			</div>

			<div class="buttons">
				<div class="button">Ok</div>
				<div class="button">Cancel</div>
			</div>
		</div>
	</div>
</div>