<div class="background">
	<app-toolbar title="Trainings"></app-toolbar>
	<div class="window">
		<div class="table">
			<div class="header">
				<div class="cell datecol">Date/Time</div>
				<div class="cell">Title/Note</div>
				<div class="cell scorecol">Score</div>
			</div>
		</div>

		<div class="tablewrapper">
			<div *ngFor="let row of profileService.trainings(); index as i">
				<div class="table">
					<div class="row">
						<div class="cell datecol">{{row.date}}</div>
						<div class="cell">{{row.title}}</div>
						<div class="cell scorecol">{{row.score}}</div>
					</div>
				</div>
				<div class="table">
					<div class="buttonsrow">
						<div class="cell">
							<div class="button" (click)="onTrainingDeleteClick()">Delete</div>
							<div class="button" (click)="onTrainingEditClick(i)">Edit</div>
							<div class="button" (click)="onTrainingShowClick()">Show</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="buttons">
			<div class="icon add" (click)="onAddClick()"></div>
		</div>
	</div>
</div>
