<div class="background">
	<app-toolbar title="Trainings"></app-toolbar>
	<div class="window">
		<div class="table">
			<div class="header">
				<div class="cell">Date/Time</div>
				<div class="cell">Title/Note</div>
				<div class="cell">Score</div>
			</div>
			<div *ngFor="let _ of profileService.trainings()"  class="row" (click)="onTrainingDetailsClick()">
				<div class="cell">1/1/2024</div>
				<div class="cell">xyz</div>
				<div class="cell">256</div>
			</div>
		</div>
		<div class="buttons set">
			<div class="icon add" (click)="onAddClick()"></div>
		</div>
	</div>
</div>
