.background {
	background-color: white;
	height: 100%;
}

.window {
	border-radius: 25px;
	border: 2px solid black;
	padding: 1em;
	margin: 1em;
	background-color: #D9D9D9;
	filter: drop-shadow(0.4em 0.4em 3px #aaaaaa);
}

.table {
	display: table;
	width: 100%;
	border-collapse: collapse;
	font-size: medium;
}

.header {
	display: table-row;
	border: 1px;
	font-size: larger;
	border-bottom: black solid 3px;
}

.row {
	display: table-row;
	border-bottom: black solid 1px;
}

.cell {
	display: table-cell;
	padding: 0.3em;
	text-align: left;
	vertical-align: middle;
}

.buttons {
	padding: 1em 0em;
	height: 3em;
}

.add {
	background-image: url("../../../assets/add.png");
}