<div class="background">
	<div class="wallpaper">
	</div>
	<div class="window">
		<div class="label">
			TargetsCloud
		</div>
		<div class="table">
			<div class="caption">
				Login
			</div>
			<div class="field">
				<input type="text">
			</div>
			<div class="caption">
				Password
			</div>
			<div class="field">
				<input input type="password">
			</div>
		</div>
		<div class="buttons">
			<button class="button">Sign-in</button>
			<button class="button">Sign-in with Google</button>
		</div>
	</div>
</div>