<div class="background">
	<app-toolbar title="Friends"></app-toolbar>
	<div class="window" (click)="onContactClick()">
		<div class="image">
			<img src="assets/avatar2.png"/>
		</div>
		<div class="name_message">
			<div class="name">Tonda</div>
			<div class="last_message">Last message..</div>
		</div>
	</div>
	<div class="window">
		<div class="image">
			<img src="assets/avatar3.png" />
		</div>
		<div class="name_message">
			<div class="name">Pepa</div>
			<div class="last_message">Hi! How are you?</div>
		</div>
	</div>
	<div class="buttons set">
		<div class="icon add"></div>
	</div>
</div>