<div class="background">
	<app-toolbar title="New Training"></app-toolbar>
	<div class="window">
		<div class="form">
			<div class="caption">Title/Note</div>
			<div class="edit">
				<input type="text"/>
			</div>

			<div class="caption">Target/Distance</div>
			<div class="buttons">
				<div class="combo">122 cm</div>
				<div class="combo">70m 12 x 6</div>
			</div>

			<div class="caption">Options</div>

			<div class="checkbox">
				<div class="checkbox1">
					<input type="checkbox">
				</div>
				<div class="checkbox2">
					Arrow numbers
				</div>
				<div  class="checkbox3">
					Collect arrow numbers
				</div>
			</div>

			<div class="checkbox">
				<div class="checkbox1">
					<input type="checkbox">
				</div>
				<div class="checkbox2">
					Arrow note
				</div>
				<div class="checkbox3">
					Collect arrow feeling/note
				</div>
			</div>

			<div class="buttons">
				<div class="button" (click)="onOkClick()">Ok</div>
				<div class="button" (click)="onCancelClick()">Cancel</div>
			</div>
		</div>
	</div>
</div>