@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	margin: auto;
	height: 100%;
}

/* DESKTOP/TABLET */
@media only screen and (min-width: 600px) {
	body {
		font-size: xx-large;
		width: 600px;
	}
}

/* MOBILE */
@media only screen and (max-width: 600px) {
	body {
		font-size: large;
		width: 100%;
	}
}

app-root {
	height: 100%;
}

.links {
	position: absolute;
	bottom: 0px;
}

.icon {
	float: right;
	height: 50pt;
	margin: 0em 0.3em;
	padding: 0em 0em;
	aspect-ratio: 1;

	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center;
	background-color: #ECE6F0;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 30%;
	filter: drop-shadow(0.2em 0.2em 3px #aaaaaa);
}
