<div class="background">
	<app-toolbar title="Groups"></app-toolbar>
	<div class="window">
		<div class="name">Club</div>
		<div class="images">
			<img src="/assets/avatar2.png" />
			<img src="/assets/avatar3.png" />
		</div>
		<div class="last_message">Last message..</div>
	</div>
	<div class="window">
		<div class="name">Competition 1/1/2024</div>
		<div class="images">
			<img src="/assets/avatar3.png" />
			<img src="/assets/avatar2.png" />
		</div>
		<div class="last_message">Hi! How are you?</div>
	</div>
	<div class="buttons set">
		<div class="add"></div>
	</div>
</div>