.background {
	background-color: white;
	height: 100%;
}

.window {
	border-radius: 25px;
	border: 2px solid black;
	padding: 1em;
	margin: 1em;
	background-color: #D9D9D9;
	filter: drop-shadow(0.4em 0.4em 3px #aaaaaa);
	overflow: hidden;
}

.images {
	height: 50px;
	padding-bottom: 1.0em;
}

.images img {
	height: 100%;
}

.name {
	font-size: xx-large;
	padding-bottom: 0.5em;
}

.last_message {
	font-size: large;
}

.buttons {
	padding: 1em;
}

.add {
	float: right;
	background-image: url("../../../assets/add.png");
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center;
	background-color: #ECE6F0;

	height: 3em;
	margin: 0em 0.3em;
	padding: 0em 0em;
	aspect-ratio: 1;

	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 30%;
	filter: drop-shadow(0.2em 0.2em 3px #aaaaaa);
}
