<div class="background">
	<app-toolbar title="Training Detail"></app-toolbar>
	<div class="tabs">
		<div class="tab selected">Set explorer</div>
		<div class="tab">Statistics</div>
		<div class="tab">Notes</div>
	</div>
	<div class="targetwrapper">
		<app-target></app-target>
	</div>
	<div class="buttons">
		<div class="slider">
			<div>
				Set: 1/12
			</div>
			<input type="range" min="1" max="12" value="1" class="slider" id="myRange">
		</div>
	</div>
	<div class="buttons set">
		<div class="share"></div>
	</div>
</div>