.tabs {
	width: 100%;
	display: table;
	background-color: #F5F5F5;
	margin-bottom: 1.0em;
}

.tab {
	font-size: normal;
	color: black;
	text-align: center;
	width: 33%;
	display: table-cell;
	padding-top: 1.0em;
	padding-bottom: 1.0em;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.selected {
	font-size: normal;
	color: gray;
	border-bottom: black solid 5px;
}

.buttons {
	padding: 1em;
}

.slider{
	text-align: left;
}

.slider input {
	text-align: center;
	width: 100%;
}

.share {
	float: right;
	background-image: url("../../../assets/share.png");
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center;
	background-color: #ECE6F0;

	height: 3em;
	margin: 0em 0.3em;
	padding: 0em 0em;
	aspect-ratio: 1;

	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 30%;
	filter: drop-shadow(0.2em 0.2em 3px #aaaaaa);
}