<div class="background">
	<app-toolbar title="Chat"></app-toolbar>
	<div class="window sent_message">
		<div class="image">
			<img src="assets/avatar2.png" />
		</div>
		<div class="name_message">
			<div class="name">Tonda</div>
			<div class="last_message">Last message..</div>
		</div>
	</div>
	<div class="window received_message">
		<div class="image">
			<img src="assets/avatar3.png" />
		</div>
		<div class="name_message">
			<div class="name">Pepa</div>
			<div class="last_message">Hi! How are you?</div>
		</div>
	</div>
	<div class="bottom">
		<div class="wrapper_expand">
			<input type="text">
		</div>
		<div class="wrapper">
			<div class="button">Send</div>
		</div>
	</div>
</div>