<div class="background">
	<app-toolbar title="Training"></app-toolbar>
	<div class="stats">
		<div class="left">Set: {{currentSet + 1}}/{{setsCount}}</div>
		<div class="right">Points: {{points}}/{{pointsTotal}}</div>
	</div>
	<div class="targetwrapper">
		<app-target	[sets]="targetSets"
					[currentSet]="currentSet"
					(targetHitEvent)="targetHitEvent($event)">
		</app-target>
	</div>
	<div class="buttons">
		<div *ngFor="let hit of currentSetHits" class="result">
			{{hit.points <= 0 ? "M" : hit.points}}
		</div>
		<div class="shevron" (click)="onDeleteLastHit()">&nbsp;</div>
	</div>
	<div class="buttons points">
		<div>
			<div class="button" (click)="onAddHit(11)">X</div>
			<div class="button" (click)="onAddHit(10)">10</div>
			<div class="button" (click)="onAddHit(9)">9</div>
			<div class="button" (click)="onAddHit(8)">8</div>
			<div class="button" (click)="onAddHit(7)">7</div>
			<div class="button" (click)="onAddHit(6)">6</div>
		</div>
		<div>
			<div class="button" (click)="onAddHit(5)">5</div>
			<div class="button" (click)="onAddHit(4)">4</div>
			<div class="button" (click)="onAddHit(3)">3</div>
			<div class="button" (click)="onAddHit(2)">2</div>
			<div class="button" (click)="onAddHit(1)">1</div>
			<div class="button" (click)="onAddHit(0)">M</div>
		</div>
	</div>
	<div class="buttons set">
		<div class="button"
			[class]="hasPrevious() ? 'active' : 'inactive'"
			(click)="onPrevious()">Previous</div>
		<div class="button"
			[class]="hasNext() ? 'active' : 'inactive'"
			(click)="onNext()">Next</div>
	</div>
</div>